section {
    padding-left: 15%;
    padding-right:15%;
}

#principaltitle{
    font-family: 'Sofia Sans Condensed', sans-serif;
    text-align: center;
    font-size: xx-large;
}
#frase {
    color:slategray;
    font-size:18px;
    font-weight: bold;
    font-family: 'Bebas Neue';
    height: auto;
    background: #f5eb5e;
    color: #000000;
    font-size: x-large;
    text-align: center;
    border-radius: 30px;
    border: rgba(46, 51, 7, 0.808) 3px dotted;
}
#autor{
    color: #000000;
    font-weight: bold;
    font-family: 'Sofia Sans Condensed', sans-serif;
    font-size: larger;
    font-style: italic;
}
#imagen{
    width: 400px;
    display: block;
    margin: auto;
    box-shadow: 0 0 0 10px black; 
}
#botton{
    background-color: blue; /* Establece el color de fondo del botón */
    color: white; /* Establece el color del texto del botón */
    border: none; /* Quita el borde del botón */
    padding: 10px 20px; /* Establece el relleno (padding) del botón */
    font-size: 16px; /* Establece el tamaño de fuente del botón */
    border-radius: 5px; /* Establece los radios de esquina del botón */
    cursor: pointer; /* Cambia el cursor del mouse cuando se pasa sobre el botón */
    box-shadow: 2px 2px 5px rgba(0,0,0,0.2); /* Agrega una sombra al botón */
    transition: all 0.3s ease; /* Agrega una transición animada a los cambios de estilo */
    font-family: 'Bebas Neue', cursive;
    font-weight: normal;
    font-size: larger;
    text-align: center;
}

#botton:hover {
    background-color: darkblue; /* Cambia el color de fondo del botón al pasar el mouse sobre él */
    box-shadow: 3px 3px 7px rgba(0,0,0,0.3); /* Aumenta la intensidad de la sombra al pasar el mouse sobre el botón */
}