body{
    margin:0;
    padding:0;
    background-color:#CCFCCB;
}
section {
    padding-left: 15%;
    padding-right:15%;
}
#principal{
    margin:0;
    padding:0;
    background-color: #96E6B3;
}
#principaltitle{
    margin:0;
    padding:0;
    font-family: 'Alatsi', sans-serif;
    text-align: center;
    font-size: 40px;
    background-color: #96E6B3;
    margin-bottom: 3;
    position: relative;
   
}

#information{

    font-family: 'Sofia Sans Condensed', sans-serif;
    font-size: larger;
    color: #000000;
}
#frase {
    color: #000000;
    font-size:larger;
    font-family:'Rokkitt', serif;
    height: 50px;
    background: #f5eb5e;   
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    border: rgba(46, 51, 7, 0.808) 3px dotted;
}
#autor{
    color: #000000;
    font-weight: bold;
    font-family: 'Sofia Sans Condensed', sans-serif;
    font-size: larger;
    font-style: italic;
}
#imagen{
    width: 250px;
    display: block;
    margin: auto;
    box-shadow: 0 0 0 10px black; 
}
#botton{
    background-color: blue; /* Establece el color de fondo del botón */
    color: white; /* Establece el color del texto del botón */
    border: none; /* Quita el borde del botón */
    padding: 10px 20px; /* Establece el relleno (padding) del botón */
    font-size: 16px; /* Establece el tamaño de fuente del botón */
    border-radius: 5px; /* Establece los radios de esquina del botón */
    cursor: pointer; /* Cambia el cursor del mouse cuando se pasa sobre el botón */
    box-shadow: 2px 2px 5px rgba(0,0,0,0.2); /* Agrega una sombra al botón */
    transition: all 0.3s ease; /* Agrega una transición animada a los cambios de estilo */
    font-family: 'Bebas Neue', cursive;
    font-weight: normal;
    font-size: larger;
    text-align: center;
}

#botton:hover {
    background-color: darkblue; /* Cambia el color de fondo del botón al pasar el mouse sobre él */
    box-shadow: 3px 3px 7px rgba(0,0,0,0.3); /* Aumenta la intensidad de la sombra al pasar el mouse sobre el botón */
}
.piepa{
    width: 100%;
    height: 100px;
    background-color: #0a141d;
    position:fixed;
    left:0px;
    bottom:0px;
}

.piepa .group-1{
    width: 100%;
    max-width: 1200px;
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    justify-content: space-around;
}

.piepa .group-1 .box figure{
    width: 50%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.piepa .group-1 .box figure img{
    width: 100px;
}
.piepa .group-1 .box p{
    font-family: 'Montserrat', sans-serif;
    font-size: medium;
    color: #efefef;
    margin-bottom: 10px;
    justify-content: space-around;
    align-items: center;
}

.piepa .group-1 .box h2{
    color: white;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 25px;
    font-size: 20px;
}

