body {
    margin:0;
    padding:0;
    background: #CAF0F8 ;
}

.ejercicio3 {
    width: 90%;
    height: auto;
    background: #79CCDB;
    margin:5% auto;
    padding: 20px;
    border-radius: 20px;
    text-align: center;
}

.ejercicio3 .ejer3title{
    color: #000000;
    font-family: 'Bebas Neue', cursive;
    font-size: xx-large;
    text-align: center;
    font-weight: bold;
    border-bottom: 3px #FFFFFF dotted;
    margin-bottom: 20px
}

nav {
    position: absolute;
    top: 0;
    left: 0;
  }
  
nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    background-color: #333;
    border-radius: 5px;
  }  
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  nav li {
    float: left;
  }
  
  nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
  }
  
  nav li a:hover {
    background-color: #eb7171;
  }
  